@use "variables" as *;

@use "mixins" as *;

@use "base" as *;

@use "breadcrumb" as *;

//Mission section
.about-mission {
  &__container {
    background-color: map-get($colors, "secondary");
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2.5rem 2.5rem 3.125rem 2.5rem;
  }
  &__content {
    @include flex(row, space-around, center);
  }
  &__text-and-breadcrumb {
    @include flex(column, flex-start, flex-start);
    max-width: 45%;
    color: map-get($colors, "base");
    gap: 1.375rem;
    & p {
      font-size: map-get($font-sizes, "medium");
    }
  }
  &__img {
    & img {
      margin-top: 2.5rem;
    }
  }
}

//Goals section

.about-goals {
  &__container {
    @include flex(row, flex-start, center);
    background-color: map-get($colors, "tertiary");
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2.5rem 2.5rem 3.125rem 2.5rem;
  }
  &__content {
    @include flex(row, space-around, center);
  }
  &__text {
    @include flex(column, flex-start, stretch);
    color: map-get($colors, "primary");
    max-width: 45%;
    gap: 1.375rem;
    & p {
      font-size: map-get($font-sizes, "medium");
    }
  }
}

//Values section
.about-values {
  &__container {
    @include flex(column, flex-start, center);
    background-color: map-get($colors, "primary");
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2.5rem 2.5rem 3.125rem 2.5rem;
  }

  &__content {
    @include flex(row, space-around, center);
  }

  &__text {
    @include flex(column, flex-start, stretch);
    color: map-get($colors, "base");
    max-width: 45%;
    gap: 1.375rem;

    & p {
      font-size: map-get($font-sizes, "medium");
    }
  }
}

//Volunteers section

.about-volunteers {
  &__container {
    border-bottom: 2px solid map-get($colors, "primary");
    @include flex(column, flex-start, center);
    gap: 1.875rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2.5rem 2.5rem 3.125rem 2.5rem;
    & h1 {
      color: map-get($colors, "primary");
    }
    & h2 {
      color: map-get($colors, "base");
    }
  }
  &__slider-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: visible;
    padding: 0.3rem;
    & button {
      transition: box-shadow 0.2s;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      background-color: transparent;
      cursor: pointer;
      z-index: 1;
      &:hover svg {
        path,
        circle {
          stroke: map-get($colors, "form-secondary");
          transition: stroke 0.2s;
        }
      }
    }
  }
  &__prev-btn {
    left: -4.5rem;
  }
  &__next-btn {
    right: -4.5rem;
  }
  &__slider {
    @include flex(row, flex-start, stretch);
    overflow: hidden;
    width: 100%;
  }
  &__slide-group {
    @include flex(row, flex-start, stretch);
    transition: transform 0.5s ease;
    gap: 3rem;
  }
  &__slide {
    @include card(
      map-get($colors, "secondary"),
      500px,
      0.5rem,
      column,
      flex-start,
      center
    );
    min-width: calc(100% / 3 - 2.5rem);
    height: 23rem;
  }
  & img {
    border-radius: inherit;
    height: calc(100% - 4.625rem);
    object-fit: cover;
  }
}

.about-current {
  border-radius: 1rem;
  padding: 0.4rem;
  background-color: map-get($colors, "form-primary");
}
