@use "variables" as *;

@use "mixins" as *;

@use "base" as *;

.breadcrumb {
  & ul {
    @include flex(row, flex-start, center);
    flex-wrap: wrap;
    list-style: none;
    color: map-get($colors, "base");
    & li {
      margin-right: 0.5em;
      & a {
        $link-color: map-get($colors, "base");
        color: $link-color;
        @include underline-color($link-color);

        background-repeat: no-repeat;
        background-size: 0% 100%;
        background-position: 0 100%;
        transition: background-size 300ms ease, background-position 300ms ease;

        &:hover {
          background-size: 100% 100%;
        }
      }
    }
  }
  & li:not(:last-child)::after {
    display: inline-block;
    content: ">";
    margin-left: 0.5em;
  }
}
