@use "variables" as *;

@use "mixins" as *;

@use "base" as *;

@use "breadcrumb" as *;

.happy-stories {
    &__container {
        border-top: 2px solid map-get($colors, "primary");
        border-bottom: 2px solid map-get($colors, "primary" );
        padding: 1.875rem 8.75rem 3.125rem 8.75rem;
        
        & .breadcrumb {
            & ul {
                & li {
                    color: map-get($colors, "primary");

                    & a {
                        color: map-get($colors, "primary");
                    }
                }
            }
        }
    }
    &__card-group {
        margin-top: 1.25rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 3;
        gap: 5rem;
}

    &__card {
        @include card(
        map-get($colors, "primary"),
        28rem,
        2.5rem,
        column,
        flex-start,
        center);
        max-height: 32rem;
}

    &__img {
    flex: 2;
    overflow: hidden;
    width: 100%;
    border-radius: inherit;
    

        & img {
        width: 100%;
        height: 100%;
        object-fit: cover;            
    }
}

    &__title {
    flex: 1;
    @include flex(column, flex-start, flex-start);
    gap: 1.875rem;
    padding: 0 2.5rem 2.5rem 2.5rem;;
        & a {
        @include button-white;
    }
}



    &__pagination {
    @include flex(row, center, center);
    gap: 3.125rem;
    margin-top: 3.125rem;

        & button {
        border: none;
        background-color: transparent;
        cursor: pointer;

        &:hover svg {

            path,
            circle {
                stroke: map-get($colors, "primary");
                transition: stroke 0.3s;
            }
        }

        &:disabled {
            cursor: default;

            svg {

                path,
                circle {
                    stroke: map-get($colors, "form-primary");
                }
            }
        }
    }
}

    &__links {
    width: 20%;
    @include flex(row, space-between, center);
    cursor: pointer;
        & span:hover {
            color: map-get($colors, "primary" );
        }
}

    &__page-number:not(.active) {
    color: map-get($colors, "form-secondary");
}

    &__ellipsis {
    color: map-get($colors, "form-secondary");
}

}


.active {
    color: map-get($colors, "primary");
}