@use "variables" as *;

@use "mixins" as *;

@use "base" as *;

.header {
  &__container {
    background-color: map-get($colors, "base");
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  &__nav {
    @include flex(row, space-between, center);
  }
  &__nav-left,
  &__nav-right {
    @include flex(row, flex-start, center);
    gap: 1.875rem;
  }
  &__logo img {
    max-width: 125px;
    height: auto;
    object-fit: contain;
  }
  &__links {
    & ul {
      display: flex;
      gap: 1.875rem;
      & li {
        & a {
          color: map-get($colors, "primary");
          font-size: map-get($font-sizes, "medium");
          font-weight: map-get($font-weights, "bold");
          &:hover {
            text-shadow: 1px 1px 1px map-get($colors, "tertiary");
          }
        }
      }
    }
  }
  &__favorites-cart {
    position: relative;
    display: inline-block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    &:hover svg path {
      stroke: map-get($colors, "tertiary");
      transition: stroke 0.3s;
    }
  }
  &__favorites-cart.filled {
    & svg {
      fill: map-get($colors, "tertiary");
    }
    & svg path {
      stroke: map-get($colors, "tertiary");
    }
  }
  &__favorites-count {
    color: map-get($colors, "primary");
    font-size: map-get($font-sizes, "medium");
    font-weight: map-get($font-weights, "bold");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__favorites-icon {
    width: 100%;
    height: 3.5rem;
  }
  &__favorites-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: map-get($colors, "form-primary");
    border-radius: 2.8125rem;
    padding: 1.25rem 1.875rem;
    display: none;
    z-index: 999;
    &.show {
      display: block;
    }
    &.hidden {
      display: none;
    }
  }
}

.button {
  @include button-color;
}
