@use "variables" as *;

@use "mixins" as *;

@use "base" as *;

//Hero section

.hero {
    position: relative;
    height: 500px;
    overflow: hidden;

    &__container {
            position: relative;
            display: grid;
            grid-template-columns: 1fr 1.5fr;
            height: 100%;
            background-color: map-get($colors, "tertiary");
            padding: 0;
        }

    &__text {
            position: absolute;
            background-color: map-get($colors, "primary");
            color: map-get($colors, "base");
            border-radius: 3rem;
            top: 25%;
            left: 10%;
            max-width: 480px;
            z-index: 3;
            padding: 5rem 2rem;
        }
    
    &__image-container {
            grid-column: 2 / 3;
            height: 100%;
        }

    &__image {
            height: 100%;
        }
    
}

//Catalog section

.home-catalog {
    &__card-group {
            @include flex(row, center);
            gap: 7.5rem;
    }
    &__card {
            @include card (
            map-get($colors, "secondary"),
            280px,
            0px,
            column,
            flex-end);
            padding: 2rem 1rem 0 1rem;
    }
}

