*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Cruinn";
  src: url("../../assets/fonts/Cruinn-Medium.woff") format("woff2"), url("../../assets/fonts/Cruinn-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/*@mixin desktop1200 {
  @media (min-width: 1200px) and (max-width: 1499px) {
    @content;
  }
}

@mixin desktop1500 {
  @media (min-width: 1500px) and (max-width: 1919px) {
    @content;
  }
}

@mixin desktop1920 {
  @media (min-width: 1920px) and (max-width: 2559px) {
    @content;
  }
}

@mixin desktop2560 {
  @media (min-width: 2560px) {
    @content;
  }
}*/
body {
  font-family: "Montserrat", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #ffffff;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3.125rem 2.5rem;
}

h1 {
  font-family: Cruinn, system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: 400;
  line-height: 1.2;
  font-size: 2.75rem;
}

h2 {
  font-family: Cruinn, system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: 400;
  line-height: 1.2;
  font-size: 1.75rem;
}

li[aria-current=page] {
  font-weight: 600;
}

.header__container {
  background-color: #ffffff;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.header__nav-left, .header__nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1.875rem;
}
.header__logo img {
  max-width: 125px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__links ul {
  display: flex;
  gap: 1.875rem;
}
.header__links ul li a {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ff843d;
  background-image: linear-gradient(transparent 0%, transparent 92%, #ff843d 92%, #ff843d 100%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position: 0 100%;
  transition: background-size 300ms ease, background-position 300ms ease;
}
.header__links ul li a:hover {
  background-size: 100% 100%;
}
.header__favorites-cart {
  position: relative;
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.header__favorites-cart:hover svg path {
  stroke: #ffe090;
  transition: stroke 0.3s;
}
.header__favorites-cart.filled svg {
  fill: #ffe090;
}
.header__favorites-cart.filled svg path {
  stroke: #ffe090;
}
.header__favorites-count {
  color: #ff843d;
  font-size: 1.25rem;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__favorites-icon {
  width: 100%;
  height: 3.5rem;
}
.header__favorites-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: #ffe8da;
  border-radius: 2.8125rem;
  padding: 1.25rem 1.875rem;
  display: none;
  z-index: 999;
}
.header__favorites-dropdown.show {
  display: block;
}
.header__favorites-dropdown.hidden {
  display: none;
}

.button {
  padding: 0.3rem 1.7rem;
  font-size: 1.25rem;
  font-family: Montserrat, system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: 600;
  border-radius: 1rem;
  border: 2px solid #ff843d;
  color: #ff843d;
  transition: box-shadow 0.2s;
  background-color: transparent;
}
.button:hover {
  box-shadow: 1px 4px 10px 0px #ff843d;
}
.button:active {
  box-shadow: none;
  background-color: #ff843d;
  color: #ffffff;
}

li[aria-current=header] {
  background-color: #ffe8da;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.25rem;
}

.footer__logo {
  max-width: 10rem;
}

.footer__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.625rem;
}
.footer__contact a, .footer__contact p {
  font-size: 1rem;
  color: #ff843d;
  font-style: normal;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2.5rem;
}

.breadcrumb ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  color: #ffffff;
}
.breadcrumb ul li {
  margin-right: 0.5em;
}
.breadcrumb ul li a {
  color: #ffffff;
  background-image: linear-gradient(transparent 0%, transparent 92%, #ffffff 92%, #ffffff 100%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position: 0 100%;
  transition: background-size 300ms ease, background-position 300ms ease;
}
.breadcrumb ul li a:hover {
  background-size: 100% 100%;
}
.breadcrumb li:not(:last-child)::after {
  display: inline-block;
  content: ">";
  margin-left: 0.5em;
}

.hero {
  position: relative;
  height: 500px;
  overflow: hidden;
}
.hero__container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  height: 100%;
  background-color: #ffe090;
  padding: 0;
}
.hero__text {
  position: absolute;
  background-color: #ff843d;
  color: #ffffff;
  border-radius: 3rem;
  top: 25%;
  left: 10%;
  max-width: 480px;
  z-index: 3;
  padding: 5rem 2rem;
}
.hero__image-container {
  grid-column: 2/3;
  height: 100%;
}
.hero__image {
  height: 100%;
}

.home-catalog__card-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 7.5rem;
}
.home-catalog__card {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  border-radius: 2.8125rem;
  color: #ffffff;
  background-color: #7c9dd3;
  max-width: 280px;
  gap: 0px;
  padding: 2rem 1rem 0 1rem;
}

.home-happy-stories__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #ffe090;
  gap: 1.875rem;
}
.home-happy-stories__container h1 {
  color: #ff843d;
}
.home-happy-stories__card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  border-radius: 2.8125rem;
  color: #ffffff;
  background-color: #ff843d;
  max-width: 850px;
  gap: 3.125rem;
  height: 25rem;
}
.home-happy-stories__img {
  flex: 1;
  align-self: stretch;
}
.home-happy-stories__img img {
  border-radius: 2.1875rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.home-happy-stories__text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1.875rem;
  padding-right: 1.25rem;
}
.home-happy-stories__text h2 {
  color: #ffffff;
  max-width: 23ch;
}
.home-happy-stories__text a {
  padding: 0.3rem 1.7rem;
  font-size: 1.25rem;
  font-family: Montserrat, system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: 600;
  border-radius: 1rem;
  border: 2px solid #ffffff;
  color: #ffffff;
  transition: box-shadow 0.2s;
  background-color: transparent;
}
.home-happy-stories__text a:hover {
  box-shadow: 1px 4px 10px 0px white;
}
.home-happy-stories__text a:active {
  box-shadow: none;
  background-color: #ffffff;
  color: #ff843d;
}

.home-news__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.875rem;
}
.home-news__container h1 {
  color: #ff843d;
}
.home-news__card-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2.5rem;
}
.home-news__card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 2.8125rem;
  color: #ffffff;
  background-color: #7c9dd3;
  max-width: 280px;
  gap: 1.25rem;
  height: 23.4375rem;
}
.home-news__img {
  flex: 1;
  overflow: hidden;
  width: 100%;
}
.home-news__img img {
  border-radius: 2.1875rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-news__text {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  flex: 1;
  padding: 0 1.25rem 1.875rem 1.25rem;
  color: #ffffff;
}
.home-news__text p {
  font-size: 1rem;
}

.home-checklist__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #ffe090;
  gap: 1.875rem;
}
.home-checklist__container h1 {
  color: #ff843d;
}
.home-checklist__card-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 7.5rem;
}
.home-checklist__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 2.8125rem;
  color: #ffffff;
  background-color: transparent;
  max-width: 280px;
  gap: 1.25rem;
}
.home-checklist__card h2 {
  color: #ff843d;
  text-align: center;
}

.about-mission__container {
  background-color: #7c9dd3;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.5rem 2.5rem 3.125rem 2.5rem;
}
.about-mission__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.about-mission__text-and-breadcrumb {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 45%;
  color: #ffffff;
  gap: 1.375rem;
}
.about-mission__text-and-breadcrumb p {
  font-size: 1.25rem;
}
.about-mission__img img {
  margin-top: 2.5rem;
}

.about-goals__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  background-color: #ffe090;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.5rem 2.5rem 3.125rem 2.5rem;
}
.about-goals__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.about-goals__text {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  color: #ff843d;
  max-width: 45%;
  gap: 1.375rem;
}
.about-goals__text p {
  font-size: 1.25rem;
}

.about-values__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #ff843d;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.5rem 2.5rem 3.125rem 2.5rem;
}
.about-values__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.about-values__text {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  color: #ffffff;
  max-width: 45%;
  gap: 1.375rem;
}
.about-values__text p {
  font-size: 1.25rem;
}

.about-volunteers__container {
  border-bottom: 2px solid #ff843d;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.875rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.5rem 2.5rem 3.125rem 2.5rem;
}
.about-volunteers__container h1 {
  color: #ff843d;
}
.about-volunteers__container h2 {
  color: #ffffff;
}
.about-volunteers__slider-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  overflow: visible;
  padding: 0.3rem;
}
.about-volunteers__slider-container button {
  transition: box-shadow 0.2s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}
.about-volunteers__slider-container button:hover svg path,
.about-volunteers__slider-container button:hover svg circle {
  stroke: #ffcaac;
  transition: stroke 0.2s;
}
.about-volunteers__prev-btn {
  left: -4.5rem;
}
.about-volunteers__next-btn {
  right: -4.5rem;
}
.about-volunteers__slider {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
}
.about-volunteers__slide-group {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  transition: transform 0.5s ease;
  gap: 3rem;
}
.about-volunteers__slide {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 2.8125rem;
  color: #ffffff;
  background-color: #7c9dd3;
  max-width: 500px;
  gap: 0.5rem;
  min-width: calc(33.3333333333% - 2.5rem);
  height: 23rem;
}
.about-volunteers img {
  border-radius: inherit;
  height: calc(100% - 4.625rem);
  -o-object-fit: cover;
     object-fit: cover;
}

.checklist__container {
  background-color: #7c9dd3;
  color: #ffffff;
  padding: 1.875rem 8.75rem 3.125rem 8.75rem;
}
.checklist__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1.25rem;
  margin-bottom: 2.5rem;
}
.checklist__title-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.checklist__title-text {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 65ch;
  gap: 1.25rem;
}
.checklist__text {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3.125rem;
  padding-left: 2rem;
}
.checklist__text-segment ul {
  list-style: disc;
  list-style-position: inside;
  padding-left: 1.5rem;
}
.checklist__text-segment p {
  font-weight: 600;
}
.checklist__download a img {
  margin: 0 auto;
}

.vaccination__container {
  background-color: #7c9dd3;
  color: #ffffff;
  padding: 1.875rem 8.75rem 3.125rem 8.75rem;
}
.vaccination__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1.25rem;
  margin-bottom: 2.5rem;
}
.vaccination__title-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.vaccination__title-text {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 64ch;
  gap: 1.25rem;
}
.vaccination__text {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  gap: 3.75rem;
}
.vaccination__text-segment {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.25rem;
}
.vaccination__download {
  margin-top: 3.125rem;
}
.vaccination__download a img {
  margin: 0 auto;
}

.news__container {
  border-top: 2px solid #ff843d;
  border-bottom: 2px solid #ff843d;
  padding: 1.875rem 8.75rem 3.125rem 8.75rem;
}
.news__container .breadcrumb ul li {
  color: #ff843d;
}
.news__container .breadcrumb ul li a {
  color: #ff843d;
  background-image: linear-gradient(transparent 0%, transparent 92%, #ff843d 92%, #ff843d 100%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position: 0 100%;
  transition: background-size 300ms ease, background-position 300ms ease;
}
.news__container .breadcrumb ul li a:hover {
  background-size: 100% 100%;
}
.news__card-group {
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}
.news__card {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 2.8125rem;
  color: #ffffff;
  background-color: #7c9dd3;
  max-width: 90%;
  gap: 2.5rem;
  max-height: 45rem;
}
.news__img {
  overflow: hidden;
  width: 100%;
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.news__img img {
  width: 100%;
  height: 100%;
}
.news__content {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.875rem;
  padding: 0 2.5rem 2.5rem 2.5rem;
}
.news__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.news__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3.125rem;
  margin-top: 3.125rem;
}
.news__pagination button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.news__pagination button:hover svg path,
.news__pagination button:hover svg circle {
  stroke: #ff843d;
  transition: stroke 0.3s;
}
.news__pagination button:disabled {
  cursor: default;
}
.news__pagination button:disabled svg path,
.news__pagination button:disabled svg circle {
  stroke: #ffe8da;
}
.news__links {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  cursor: pointer;
}
.news__links span:hover {
  color: #ff843d;
}
.news__page-number:not(.active) {
  color: #ffcaac;
}
.news__ellipsis {
  color: #ffcaac;
}

.active {
  color: #ff843d;
}

.happy-stories__container {
  border-top: 2px solid #ff843d;
  border-bottom: 2px solid #ff843d;
  padding: 1.875rem 8.75rem 3.125rem 8.75rem;
}
.happy-stories__container .breadcrumb ul li {
  color: #ff843d;
}
.happy-stories__container .breadcrumb ul li a {
  color: #ff843d;
  background-image: linear-gradient(transparent 0%, transparent 92%, #ff843d 92%, #ff843d 100%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position: 0 100%;
  transition: background-size 300ms ease, background-position 300ms ease;
}
.happy-stories__container .breadcrumb ul li a:hover {
  background-size: 100% 100%;
}
.happy-stories__card-group {
  margin-top: 1.25rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3;
  gap: 5rem;
}
.happy-stories__card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 2.8125rem;
  color: #ffffff;
  background-color: #ff843d;
  max-width: 28rem;
  gap: 2.5rem;
  max-height: 32rem;
}
.happy-stories__img {
  flex: 2;
  overflow: hidden;
  width: 100%;
  border-radius: inherit;
}
.happy-stories__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.happy-stories__title {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.875rem;
  padding: 0 2.5rem 2.5rem 2.5rem;
}
.happy-stories__title a {
  padding: 0.3rem 1.7rem;
  font-size: 1.25rem;
  font-family: Montserrat, system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: 600;
  border-radius: 1rem;
  border: 2px solid #ffffff;
  color: #ffffff;
  transition: box-shadow 0.2s;
  background-color: transparent;
}
.happy-stories__title a:hover {
  box-shadow: 1px 4px 10px 0px white;
}
.happy-stories__title a:active {
  box-shadow: none;
  background-color: #ffffff;
  color: #ff843d;
}
.happy-stories__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3.125rem;
  margin-top: 3.125rem;
}
.happy-stories__pagination button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.happy-stories__pagination button:hover svg path,
.happy-stories__pagination button:hover svg circle {
  stroke: #ff843d;
  transition: stroke 0.3s;
}
.happy-stories__pagination button:disabled {
  cursor: default;
}
.happy-stories__pagination button:disabled svg path,
.happy-stories__pagination button:disabled svg circle {
  stroke: #ffe8da;
}
.happy-stories__links {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  cursor: pointer;
}
.happy-stories__links span:hover {
  color: #ff843d;
}
.happy-stories__page-number:not(.active) {
  color: #ffcaac;
}
.happy-stories__ellipsis {
  color: #ffcaac;
}

.active {
  color: #ff843d;
}

.story__container {
  border-top: 2px solid #ff843d;
  border-bottom: 2px solid #ff843d;
  padding: 1.875rem 8.75rem 3.125rem;
}
.story__container .breadcrumb ul li {
  color: #ff843d;
}
.story__container .breadcrumb ul li a {
  color: #ff843d;
  background-image: linear-gradient(transparent 0%, transparent 92%, #ff843d 92%, #ff843d 100%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position: 0 100%;
  transition: background-size 300ms ease, background-position 300ms ease;
}
.story__container .breadcrumb ul li a:hover {
  background-size: 100% 100%;
}
.story__card-container {
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.story__card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 2.8125rem;
  color: #ffffff;
  background-color: #7c9dd3;
  max-width: 900px;
  gap: 2.5rem;
  max-height: 72.5rem;
}
.story__img {
  flex: 1;
  overflow: hidden;
  width: 100%;
  border-radius: inherit;
}
.story__img img {
  width: 100%;
  height: 100%;
}
.story__content {
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 2rem 2.5rem;
}

.map__container {
  padding: 1.875rem 8.75rem 3.125rem 8.75rem;
  background-color: #7c9dd3;
}
.map__container .breadcrumb ul li {
  color: #ffffff;
}
.map__container .breadcrumb ul li a {
  color: #ffffff;
}
.map__wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  gap: 5rem;
  margin-top: 1.25rem;
}
.map__map {
  flex: 1;
}
.map__how-to-get {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 3.125rem;
}
.map__text {
  color: #ffffff;
}
.map__icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 2.125rem;
}
.map__icon p {
  color: #ffffff;
}

.help__container {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.875rem;
  padding: 3.125rem 8.75rem;
  background-color: #7c9dd3;
}
.help__container h1 {
  color: #ffffff;
  max-width: 31ch;
}
.help__slider-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  overflow: visible;
  padding: 0.3rem;
}
.help__slider-container button {
  transition: box-shadow 0.2s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}
.help__slider-container button:hover svg path,
.help__slider-container button:hover svg circle {
  stroke: #ffe8da;
  transition: stroke 0.2s;
}
.help__prev-button {
  left: -4.5rem;
}
.help__next-button {
  right: -4.5rem;
}
.help__slider {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
}
.help__slider-group {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  transition: transform 0.5s ease;
  gap: 3rem;
  width: 400%;
}
.help__slide {
  overflow: hidden;
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 2.8125rem;
  color: #ffffff;
  background-color: #ffffff;
  max-width: 900px;
  gap: 0.5rem;
  height: 20rem;
}
.help__slide img {
  height: 100%;
  width: 48%;
  border-radius: 2.8125rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.help__text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-right: 2.5rem;
  width: 48%;
  gap: 1.875rem;
}
.help__text h2, .help__text p {
  color: #ff843d;
}

.catalog__container {
  border-bottom: 2px solid #ff843d;
}
.catalog__title-container {
  background-color: #ffe090;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 0;
  padding-top: 2.5rem;
  gap: 2rem;
}
.catalog__title-container .breadcrumb {
  align-self: flex-start;
  margin-left: 6.25rem;
}
.catalog__title-container .breadcrumb ul li {
  color: #ff843d;
}
.catalog__title-container .breadcrumb ul li a {
  color: #ff843d;
  background-image: linear-gradient(transparent 0%, transparent 92%, #ff843d 92%, #ff843d 100%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position: 0 100%;
  transition: background-size 300ms ease, background-position 300ms ease;
}
.catalog__title-container .breadcrumb ul li a:hover {
  background-size: 100% 100%;
}
.catalog__title-container h2 {
  color: #ff843d;
}
.catalog__title-img {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
}
.catalog__title-img .img-left {
  margin-right: -3rem;
}
.catalog__title-img .img-right:not(.cat) {
  margin-left: -1.5rem;
}
.catalog__title-img .img-right.cat {
  margin-left: -4rem;
}
.catalog__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.catalog__filters {
  grid-column: 1/2;
  position: sticky;
  top: 0;
  height: 70vh;
  padding-top: 1rem;
  overflow-y: auto;
}
.catalog__filters::-webkit-scrollbar {
  width: 10px;
}
.catalog__filters::-webkit-scrollbar-track {
  background: #ffe8da;
  border-radius: 10px;
}
.catalog__filters::-webkit-scrollbar-thumb {
  background: #ffcaac;
  border-radius: 10px;
}
.catalog__filters::-webkit-scrollbar-thumb:hover {
  background: #ffa979;
}
.catalog__card-group {
  grid-column: 2/3;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.875rem;
}
.catalog__card {
  /*@include flex(row, center, center);*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 2.8125rem;
  color: #ffffff;
  background-color: #ff843d;
  max-width: 770px;
  gap: 2.1875rem;
  min-width: 770px;
  max-height: 11.875rem;
  overflow: hidden;
}
.catalog__img {
  border-radius: 2.8125rem;
  height: 11.875rem;
}
.catalog__img img {
  height: 100%;
  border-radius: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.catalog__text {
  /*@include flex(column, center, flex-start);*/
  flex: 1;
  padding-right: 2.1875rem;
}
.catalog__name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.catalog__name a {
  color: #ffffff;
}
.catalog__name a:hover {
  color: #ffe090;
  transition: box-shadow 0.2s;
}
.catalog__gender {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.3125rem;
  margin-bottom: 1rem;
}
.catalog__gender span p {
  font-size: 1.5625rem;
}
.catalog__description {
  font-size: 1.25rem;
}
.catalog__description p {
  font-weight: 500;
}
.catalog__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3.125rem;
  margin-top: 3.125rem;
  grid-area: 2/2/3/3;
}
.catalog__pagination button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.catalog__pagination button:hover svg path,
.catalog__pagination button:hover svg circle {
  stroke: #ff843d;
  transition: stroke 0.3s;
}
.catalog__pagination button:disabled {
  cursor: default;
}
.catalog__pagination button:disabled svg path,
.catalog__pagination button:disabled svg circle {
  stroke: #ffe8da;
}
.catalog__links {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  cursor: pointer;
}
.catalog__page-number:not(.active) {
  color: #ffcaac;
}
.catalog__ellipsis {
  color: #ffcaac;
}
.catalog__filters-container {
  display: inline-block;
  position: sticky;
}
.catalog__filters-container ul {
  margin-bottom: 1.25rem;
}
.catalog__filter-name {
  position: relative;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 1.25rem;
  color: #ff843d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 3.375rem;
}
.catalog__filter-name.active {
  color: #ff843d;
}
.catalog__filter-name.active::after {
  transform: rotate(90deg);
}
.catalog__filter-name::after {
  content: url(/shelter-project-frontend/assets/images/cat-catalog/catalog-filter-hevron.svg);
  transition: transform 0.2s ease;
}
.catalog__filter-options li {
  display: none;
  padding: 0.2rem;
  color: #ff843d;
}
.catalog__filter-options li input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 1rem;
  height: 1rem;
  border: 1px solid #ff843d;
  position: relative;
  cursor: pointer;
  margin-right: 0.5rem;
}
.catalog__filter-options li input[type=checkbox]::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.catalog__filter-options li input[type=checkbox]:checked::before {
  background-color: #ff843d;
}
.catalog__filter-options li input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 0.5rem;
  height: 0.5rem;
  -webkit-clip-path: polygon(14% 44%, 0% 0%, 45% 58%, 100% 0%, 100% 18%, 47% 100%);
          clip-path: polygon(14% 44%, 0% 0%, 45% 58%, 100% 0%, 100% 18%, 47% 100%);
  background-color: #ffffff;
}
.catalog__filter-options.visible li {
  display: block;
}
.catalog__filter-options.visible li {
  display: block;
}

.infosheet__add-to-favorites.filled svg {
  fill: #ffe090;
}
.infosheet__add-to-favorites.filled svg path {
  stroke: #ffe090;
}
.infosheet__add-to-favorites:disabled {
  cursor: default;
}

.favorites-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.875rem;
}
.favorites-dropdown__name {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}
.favorites-dropdown__name h2 {
  color: #ff843d;
}
.favorites-dropdown__img {
  width: 16.5rem;
}
.favorites-dropdown__img img {
  border-radius: 0.9375rem;
}
.favorites-dropdown__separator {
  height: 2px;
  background-color: #ff843d;
  width: 16.5rem;
  margin-bottom: 1.25rem;
}

.remove-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

.favorites-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.25rem;
}
.favorites-item button {
  margin-left: 0;
}

.apply-filters {
  padding: 0.3rem 1.7rem;
  font-size: 1.25rem;
  font-family: Montserrat, system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: 600;
  border-radius: 1rem;
  border: 2px solid #ff843d;
  color: #ff843d;
  transition: box-shadow 0.2s;
  background-color: transparent;
}
.apply-filters:hover {
  box-shadow: 1px 4px 10px 0px #ff843d;
}
.apply-filters:active {
  box-shadow: none;
  background-color: #ff843d;
  color: #ffffff;
}

.infosheet__container {
  border-top: 2px solid #ff843d;
  border-bottom: 2px solid #ff843d;
  padding-top: 1.875rem 8.75rem 3.125rem;
}
.infosheet__container .breadcrumb ul li {
  color: #ff843d;
}
.infosheet__container .breadcrumb ul li a {
  color: #ff843d;
}
.infosheet__button {
  padding: 0.3rem 1.7rem;
  font-size: 1.25rem;
  font-family: Montserrat, system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: 600;
  border-radius: 1rem;
  border: 2px solid #ff843d;
  color: #ff843d;
  transition: box-shadow 0.2s;
  background-color: transparent;
  margin: 0 0 0 auto;
  cursor: pointer;
}
.infosheet__button:hover {
  box-shadow: 1px 4px 10px 0px #ff843d;
}
.infosheet__button:active {
  box-shadow: none;
  background-color: #ff843d;
  color: #ffffff;
}
.infosheet__animal-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.875rem;
  padding-top: 1.875rem;
}
.infosheet__animal-card-container a {
  align-self: flex-end;
}
.infosheet__animal-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 2.8125rem;
  color: #ffffff;
  background-color: #ff843d;
  max-width: 920px;
  gap: 0;
  min-width: 920px;
  height: 20rem;
  overflow: hidden;
}
.infosheet__img {
  width: 48%;
  height: 100%;
  border-radius: 2.8125rem;
}
.infosheet__img img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.infosheet__animal-description {
  width: 48%;
  padding: 1.875rem 2.1875rem 1.875rem 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.25rem;
}
.infosheet__animal-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.infosheet__add-to-favorites {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.infosheet__add-to-favorites:hover svg path {
  stroke: #ffe090;
  transition: stroke 0.3s;
}
.infosheet__animal-gender {
  margin-top: -1rem;
}
.infosheet__animal-gender p span {
  margin-right: 0.5rem;
}
.infosheet__highlights p span {
  content: url(/shelter-project-frontend/assets/images/cat-details/cat-paw-1200.svg);
  margin-right: 0.5rem;
}
.infosheet__animal-story {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 2.8125rem;
  color: #ffffff;
  background-color: #7c9dd3;
  max-width: 920px;
  gap: 1.25rem;
  color: #ffffff;
}

.glide__slide {
  position: relative;
  overflow: visible;
}
.glide__slide img {
  position: relative;
  min-width: 20rem;
  height: 13.75rem;
  border-radius: 2.8125rem;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
}
.glide__slide img:hover {
  cursor: pointer;
  filter: grayscale(0%);
}
.glide__slide img.zoom {
  transform: scale(1.5);
  filter: grayscale(0%);
  border: 1px solid transparent;
  z-index: 999;
}
.glide__arrow {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.glide__arrow:hover svg path,
.glide__arrow:hover svg circle {
  stroke: #ffcaac;
  transition: stroke 0.2s;
}

.form__dialog {
  display: none;
  padding-top: 1.875rem;
  background-color: #ffe8da;
  border-radius: 2.8125rem;
  color: #ff843d;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 880px;
  width: 100%;
  z-index: 1000;
}
.form__dialog-content {
  max-height: 90vh;
  overflow-y: auto;
}
.form__dialog-content::-webkit-scrollbar {
  width: 10px;
}
.form__dialog-content::-webkit-scrollbar-track {
  background: #ffe8da;
  border-radius: 10px;
}
.form__dialog-content::-webkit-scrollbar-thumb {
  background: #ffcaac;
  border-radius: 10px;
}
.form__dialog-content::-webkit-scrollbar-thumb:hover {
  background: #ffa979;
}
.form__dialog-content h1,
.form__dialog-content p {
  text-align: center;
}
.form__dialog-content p {
  font-size: 1rem;
}
.form__form label {
  display: block;
  margin: 1rem 0 0 0;
}
.form__form label input:not([type=checkbox]) {
  width: 100%;
  border-radius: 1.25rem;
  padding: 1rem;
  border: 2px solid transparent;
  color: #ff843d;
}
.form__form label input:not([type=checkbox]):hover {
  border: 2px dotted #ffcaac;
}
.form__form label input:not([type=checkbox]):focus, .form__form label input:not([type=checkbox]):focus-visible {
  border: 2px solid #ff843d;
  outline: none;
}
.form__form label input:not([type=checkbox])::-moz-placeholder {
  color: #ffcaac;
}
.form__form label input:not([type=checkbox])::placeholder {
  color: #ffcaac;
}
.form__form label input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 1rem;
  height: 1rem;
  border: 1px solid #ff843d;
  position: relative;
  cursor: pointer;
  margin-right: 0.5rem;
}
.form__form label input[type=checkbox]::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.form__form label input[type=checkbox]:checked::before {
  background-color: #ff843d;
}
.form__form label input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 0.5rem;
  height: 0.5rem;
  -webkit-clip-path: polygon(14% 44%, 0% 0%, 45% 58%, 100% 0%, 100% 18%, 47% 100%);
          clip-path: polygon(14% 44%, 0% 0%, 45% 58%, 100% 0%, 100% 18%, 47% 100%);
  background-color: #ffffff;
}
.form__form label[for=animal-name] {
  padding: 0.2rem 1rem;
  text-align: center;
  font-size: 1.25rem;
  font-family: "Cruinn", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.form__form label[for=animal-name] input {
  font-size: 1.75rem;
  background-color: #ffcaac;
  text-align: center;
  padding: 0.2rem;
}
.form__form #required-description {
  text-align: start;
  margin: 1.25rem 0;
  font-weight: 500;
}
.form__form button {
  padding: 0.3rem 1.7rem;
  font-size: 1.25rem;
  font-family: Montserrat, system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: 600;
  border-radius: 1rem;
  border: 2px solid #ff843d;
  color: #ff843d;
  transition: box-shadow 0.2s;
  background-color: transparent;
  display: block;
  margin: 0 auto;
}
.form__form button:hover {
  box-shadow: 1px 4px 10px 0px #ff843d;
}
.form__form button:active {
  box-shadow: none;
  background-color: #ff843d;
  color: #ffffff;
}

.close-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

.confirmation-dialog {
  display: none;
  padding-top: 2.5rem;
  background-color: #ffe8da;
  border-radius: 2.8125rem;
  color: #ff843d;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 880px;
  width: 100%;
  max-width: 630px;
  z-index: 1000;
}
.confirmation-dialog h1, .confirmation-dialog h2 {
  text-align: center;
}

.error {
  width: 100%;
  padding: 0;
  font-size: 15px;
  font-weight: 500;
  color: #9e1e1e;
  background-color: transparent;
}

input:-webkit-autofill {
  background-color: #ffffff;
  color: #ff843d;
}

input:-webkit-autofill::first-line {
  color: #ff843d;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}